<div class="post-card-horizontal read-more-btn" data-post-id="{{ post.id }}">
    <div class="row g-0">
        <div class="col-md-5">
            <div class="post-image-wrapper">
                <img src="{{ asset(post.imageFilename ? 'uploads/images/' ~ post.imageFilename : 'images/placeholder.png') }}" alt="{{ post.title }}" class="post-image">
            </div>
        </div>
        <div class="col-md-7">
            <div class="post-content">
                <p class="post-category">{{ post.categoria }}</p>
                <h5 class="post-title">{{ post.title }}</h5>
                <p class="post-excerpt">{{ post.content|striptags|slice(0, 180) ~ '...' }}</p>
                <div class="post-meta">
                    <span><i class="mdi mdi-calendar-blank-outline"></i> {{ post.createdAt|date('F d, Y') }}</span>
                    <span><i class="mdi mdi-eye-outline"></i> {{ random(100, 999) }}</span>
                </div>
            </div>
        </div>
    </div>
</div>