<div class="modal fade" id="modalEditarConsulta-{{ consulta.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            {{ form_start(form, {'attr': {'id': 'form-editar-consulta-' ~ consulta.id}}) }}
            <div class="modal-header"><h5 class="modal-title">Editar Consulta</h5><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-12">{{ form_row(form.fechaConsulta) }}</div>
                    <div class="col-12">{{ form_row(form.motivo) }}</div>
                    <div class="col-md-6">{{ form_row(form.diagnostico) }}</div>
                    <div class="col-md-6">{{ form_row(form.tratamiento) }}</div>
                    <div class="col-12">{{ form_row(form.observacion) }}</div>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button><button type="submit" class="btn btn-primary">Actualizar</button></div>
            {{ form_end(form) }}
        </div>
    </div>
</div>